@model ContactUS
@{
    ViewBag.Title = "Contact us";
}
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
        </div>

    </div>

    <div class="container">

        <div class="row mt-5">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box">
                            <i class="bx bx-map"></i>
                            <h3>Our Address</h3>
                            <p>18 gomhorya Street, Assuit, AST 535022</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="bx bx-envelope"></i>
                            <h3>Email Us</h3>
                            <p>PoykaNews@Gmail.com<br>PoykaNews@Outlook.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="bx bx-phone-call"></i>
                            <h3>Call Us</h3>
                            <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <form asp-action="SaveContact" asp-controller="Home" class="form-group" asp-antiforgery="true">
                    <div class="row">
                        <div class="col form-group mt-3">
                            <input type="text" asp-for="Name" class="form-control" placeholder="Your Name" required>
                        </div>
                        <div class="col form-group mt-3">
                            <input type="email" class="form-control" asp-for="Email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" asp-for="Subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" asp-for="Message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <br />
                    <div class="text-center">
                    <button style=" background: #3fbbc0; border: 0; padding: 10px 30px; color: #fff; transition: 0.4s; border-radius: 4px;">
                        Send Message
                    </button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</section>
